* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white:hsl(0, 0%, 100%);
  --slate--300:hsl(212, 45%, 89%);
  --slate--500:hsl(216, 15%, 48%);
  --slate--900:hsl(218, 44%, 22%);
}

body {
  background-color: var(--slate--300);
  display: grid;
  min-height: 100vh;
  place-content: center;
}

.qr-card {
  padding: 16px 16px 40px 16px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 25px 25px rgba(0,0,0,0.047);
  width: min-content;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.qr-card-image {
  border-radius: inherit;
}

.qr-card-text-container {
  padding: 0 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.qr-card-title {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--slate--900);
  font-size: 22px;
}

.qr-card-paragraph {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--slate--500);
  font-size: 15px;
}
.attribution { 
  font-size: 11px;
  text-align: center;
  margin-top: 48px; 
}
.attribution a { color: hsl(228, 45%, 44%); }